{% extends "base.html" %}
{% block content %}
<h1>Algoritmi</h1>
<!-- Painikkeet tähän -->
<p>
  <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
</p>
<!-- Tiedot tulee listana tähän -->
<ul>
  <li><strong>Kurssien lukumäärä:</strong> 1</li>
  <li><strong>Termien lukumäärä:</strong> 1</li>
</ul>
<!-- Kuvaus tulee tähän -->
<p>
  Algoritmeilla tarkoitetaan yksityiskohtaisia kuvauksia, joita seuraamalla ratkaistaan tietty ongelma. Algoritmit jaetaan usein eri aihealueisiin, kuten haku-, lajittelu- tai pakkausalgoritmeihin.
</p>
{% endblock %}