{% extends "base.html" %}
{% block content %}
<h1>Kaikki Kurssit</h1>
<div class="show">
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Nimi</th>
      <th>Kurssitunnus</th>
      <th>Kuvaus</th>
    </tr>
  </thead>

  <tbody>
    {% for kurssi in kurssit %}
    <tr>
      <td><a href="{{base_path}}/kurssi/{{kurssi.id}}">{{kurssi.nimi}}</a></td>
      <td>{{kurssi.kurssitunnus}}</td>
      <td>{{kurssi.kuvaus}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>
<p>
  <a href="{{base_path}}/kurssi/new" class="btn btn-primary">Lisää Kurssi</a>
</p>
{% endblock %}