{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{kurssi.nimi}}</h1>
<div class="show">
	<ul>
		<li><strong>Kurssitunnus:</strong> {{kurssi.kurssitunnus}}</li>
		<br>
		<li><strong>Kuvaus:</strong> {{kurssi.kuvaus}}</li>
		<br>
		<li><strong>Aiheiden Lukumäärä:</strong> {{kurssinKurssiaiheidenLkm}}</li>
		{% for aihe in aiheet %}
		<br>
		<strong><a href="{{base_path}}/aihe/{{aihe.id}}">{{aihe.nimi}}</a></strong>
		{% endfor %}
	</ul>
</div>
<br>
{{forms.destroy_button("#{base_path}/kurssi/#{kurssi.id}/destroy")}}
<br>
<br>
<p>
	<a href="{{base_path}}/kurssi/{{kurssi.id}}/edit" class="btn btn-primary">Muokkaa</a>
</p>
{% endblock %}