{% extends "base.html" %}
{% block content %}
<h1>Tietoliikenteen perusteet</h1>
<!-- Painikkeet tähän -->
<p>
  <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
</p>
<!-- Tiedot tulee listana tähän -->
<ul>
  <li><strong>Kurssitunnus:</strong> TKT20004</li>
</ul>
<!-- Kuvaus tulee tähän -->
<p>
  Tietoliikenteen Perusteet on tietojenkäsittelyn kandidaattiohjelman pakollinen kurssi, jonka jälkeen opiskelija osaa selittää ”miten Internet toimii” ja perustellen kuvata siinä käytettyjä rakenteellisia, teknisiä ja toiminnallisia periaatteita (kuten toimintamallit, rakenneosat, erilaiset osoitteet ja tunnisteet, datan siirto protokollapinon avulla, luotettava kuljetuspalvelu, vuonvalvonta, TCP:n ruuhkanhallinta).
</p>
{% endblock %}