{% extends "base.html" %}
{% block content %}
<h1>Muokkaa Termiä {{termi.nimi}}</h1>
<div class="show">
  <form method="post" action="{{base_path}}/termi/{{termi.id}}/edit">
    <div class="form-group">
      <label>Termin Nimi</label>
      <input type="text" name="nimi" class="form-control" value="{{termi.nimi}}">
    </div>

    <div class="form-group">
      <label>Englanniksi</label>
      <input type="text" name="englanniksi" class="form-control" value="{{termi.englanniksi}}">
    </div>

    <div class="form-group">
      <label>Kuvaus</label>
      <input type="textarea" name="kuvaus" class="form-control" value="{{termi.kuvaus}}">
    </div>

    <div class="form-group">
      <label>Termi Liittyy Aiheisiin </label>
      <select class="form-control" name="aiheet[]" multiple="">
        {% for aihe in aiheet %}
        <option value="{{aihe.id}}">{{aihe.nimi}}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-primary">Tallenna Muutokset</button>
    </div>
  </form>
</div>
{% endblock %}