{% extends "base.html" %}
{% block content %}
{% import "macros/forms.html" as forms %}
<h1>{{termi.nimi}}</h1>
<div class="show">
	<ul>
		<li><strong>Englanniksi:</strong> {{termi.englanniksi}}</li>
		<br>
		<li><strong>Kuvaus:</strong> {{termi.kuvaus}}</li>
		<br>
		<li><strong>Yhteyksiä aiheisiin:</strong> {{terminKurssiaiheidenLkm}}</li>
		{% for aihe in aiheet %}
		<strong><a href="{{base_path}}/aihe/{{aihe.id}}">{{aihe.nimi}}</a></strong>
		{% endfor %}
	</ul>
</div>
<br>
{{forms.destroy_button("#{base_path}/termi/#{termi.id}/destroy")}}
<br>
<br>
<p>
	<a href="{{base_path}}/termi/{{termi.id}}/edit" class="btn btn-primary">Muokkaa</a>
</p>
{% endblock %}